.outerwrapper {
  width: 100%;
  height: 100%;
}

.main {
  background-image: url('/christmas-quiz-background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.startBtn {
  padding: 20px 50px;
  color: white;
  font-style: italic;
  font-size: 1.3rem;
  background-color: red;
  cursor: pointer;
  margin-bottom: 3rem;
  border-radius: 5px;
}
