.homeButton {
  padding: 12px 20px;
  border: 2px black solid !important;
  cursor: pointer;
}

.quizWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.quizContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: start;
}

/* .image {
  width: 100%;
  height: auto;
  border-radius: 10px;
} */

.questionText {
  font-size: 2rem;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 30px 0;
}

.optionBtn {
  padding: 14px 20px;
  font-size: 1rem;
  border: 2px black solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.optionBtn:hover {
  background-color: #f0f0f0;
}

.correct {
  background-color: #4ade80;
  border-color: #16a34a;
}

.wrong {
  background-color: #f87171;
  border-color: #dc2626;
}

.optionBtn:disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

.nextBtn {
  border: 2px black solid;
  padding: 15px 20px;
  border-radius: 5px;
}
